.detailUI {
    -fx-pref-height: 90;
    -fx-pref-width: 50;
    -fx-background-color: none;
}

.trainType{
    -fx-background-color: #FF0019;
    -fx-scale-shape: true;
    -fx-shape: "M454,476.063c0,3.496-2.834,6.33-6.331,6.33H147.664
                	c-3.496,0-6.331-2.834-6.331-6.33v-111.02c0-3.497,2.834-6.331,6.331-6.331h300.005c3.497,0,6.331,2.834,6.331,6.331V476.063z
                	 M174.337,446.2l10.758-51.539h-6.855L167.447,446.2H174.337z M220.462,437.903c-2.883,2.32-6.105,3.48-9.668,3.48
                	c-4.172,0-7.559-1.394-10.16-4.184c-2.602-2.789-3.902-6.832-3.902-12.129c0-6.632,1.688-12.363,5.063-17.191
                	c3.89-5.602,8.988-8.402,15.293-8.402c3.352,0,6.087,0.92,8.209,2.76c2.121,1.84,3.521,4.623,4.201,8.35l6.434-0.598
                	c-0.54-4.945-2.502-8.882-5.889-11.813c-3.387-2.93-7.811-4.395-13.271-4.395c-7.383,0-13.559,2.707-18.527,8.121
                	c-5.578,6.07-8.367,13.746-8.367,23.027c0,7.125,1.833,12.599,5.502,16.418c3.668,3.82,8.631,5.73,14.889,5.73
                	c5.133,0,9.761-1.523,13.887-4.57c4.125-3.046,7.265-7.546,9.422-13.5l-6.82-0.949C225.442,432.302,223.345,435.583,220.462,437.903
                	z M277.908,446.2l1.23-5.836h-32.449l3.727-17.93h29.531l1.23-5.871h-29.531l3.375-16.031h30.305l1.23-5.871h-37.195L238.568,446.2
                	H277.908z";
}

.trainRailShield{
    -fx-background-color: #000000;
    -fx-scale-shape: true;
    -fx-shape: "M261.778,477.647c-17.486,0.001-34.972,0.022-52.458-0.009
                	c-7.567-0.014-10.295-2.709-10.299-10.166c-0.019-34.473-0.022-68.944,0.003-103.416c0.005-7.249,2.711-10.043,9.904-10.051
                	c35.138-0.043,70.276-0.041,105.414,0.001c7.392,0.009,9.951,2.633,9.953,9.892c0.012,34.473,0.008,68.944-0.003,103.416
                	c-0.003,7.868-2.499,10.316-10.556,10.326C296.417,477.66,279.097,477.646,261.778,477.647z M262.126,356.66
                	c-17.66,0-35.32-0.017-52.979,0.01c-5.996,0.008-7.361,1.302-7.369,7.385c-0.039,34.486-0.035,68.974,0.007,103.46
                	c0.007,5.921,1.567,7.583,7.315,7.592c34.986,0.055,69.973,0.054,104.959,0.007c6.096-0.008,7.662-1.667,7.666-7.787
                	c0.025-34.32,0.029-68.641,0-102.96c-0.006-6.249-1.47-7.688-7.621-7.696C296.78,356.645,279.453,356.661,262.126,356.66z
                	 M217.799,373.993v-1.26l4.548-0.008v3.984c-0.698,0.557-1.418,0.976-2.161,1.256c-0.742,0.281-1.504,0.422-2.285,0.422
                	c-1.055,0-2.013-0.227-2.875-0.678c-0.862-0.452-1.512-1.104-1.952-1.959s-0.659-1.81-0.659-2.864c0-1.045,0.218-2.021,0.656-2.926
                	c0.437-0.906,1.065-1.579,1.886-2.019s1.765-0.658,2.834-0.658c0.776,0,1.478,0.125,2.106,0.377
                	c0.627,0.251,1.119,0.602,1.476,1.051s0.627,1.035,0.813,1.758l-1.282,0.352c-0.161-0.547-0.361-0.977-0.601-1.289
                	s-0.581-0.563-1.025-0.751c-0.444-0.188-0.938-0.282-1.479-0.282c-0.649,0-1.211,0.1-1.685,0.297
                	c-0.474,0.198-0.856,0.458-1.146,0.78s-0.516,0.677-0.677,1.062c-0.273,0.665-0.41,1.385-0.41,2.161
                	c0,0.957,0.165,1.758,0.495,2.402c0.329,0.645,0.809,1.123,1.439,1.436s1.299,0.469,2.007,0.469c0.615,0,1.216-0.118,1.802-0.355
                	c0.586-0.236,1.03-0.489,1.333-0.758v-1.999H217.799z M224.244,378.204v-10.737h1.318v10.737H224.244z M232.931,375.699l1.362,0.169
                	c-0.215,0.796-0.613,1.413-1.194,1.853s-1.323,0.659-2.227,0.659c-1.138,0-2.04-0.351-2.707-1.051c-0.666-0.701-1-1.684-1-2.948
                	c0-1.309,0.337-2.324,1.011-3.047s1.548-1.084,2.622-1.084c1.04,0,1.89,0.354,2.549,1.062c0.659,0.709,0.989,1.705,0.989,2.988
                	c0,0.079-0.002,0.196-0.007,0.352h-5.801c0.049,0.855,0.291,1.51,0.725,1.963c0.435,0.455,0.977,0.682,1.626,0.682
                	c0.483,0,0.896-0.127,1.238-0.381S232.73,376.256,232.931,375.699z M228.602,373.567h4.343c-0.059-0.653-0.225-1.145-0.498-1.472
                	c-0.42-0.508-0.964-0.762-1.633-0.762c-0.605,0-1.115,0.203-1.527,0.608C228.874,372.348,228.646,372.89,228.602,373.567z
                	 M235.956,368.983v-1.517h1.318v1.517H235.956z M235.956,378.204v-7.778h1.318v7.778H235.956z M238.753,375.882l1.304-0.205
                	c0.073,0.523,0.277,0.924,0.612,1.201c0.334,0.279,0.802,0.418,1.402,0.418c0.605,0,1.055-0.123,1.348-0.37
                	c0.293-0.246,0.439-0.535,0.439-0.868c0-0.297-0.129-0.531-0.388-0.703c-0.181-0.117-0.63-0.266-1.348-0.446
                	c-0.967-0.244-1.637-0.455-2.01-0.634c-0.374-0.178-0.657-0.425-0.85-0.739c-0.193-0.315-0.29-0.663-0.29-1.044
                	c0-0.347,0.079-0.668,0.238-0.963c0.159-0.296,0.375-0.541,0.648-0.736c0.205-0.151,0.484-0.279,0.839-0.385
                	c0.354-0.104,0.733-0.157,1.139-0.157c0.61,0,1.146,0.088,1.607,0.264c0.462,0.176,0.802,0.414,1.022,0.714
                	c0.22,0.301,0.371,0.702,0.454,1.205l-1.289,0.176c-0.059-0.4-0.229-0.713-0.509-0.938s-0.677-0.337-1.19-0.337
                	c-0.605,0-1.038,0.101-1.296,0.3c-0.259,0.201-0.388,0.436-0.388,0.703c0,0.172,0.054,0.325,0.161,0.462
                	c0.107,0.142,0.276,0.259,0.505,0.352c0.132,0.049,0.52,0.161,1.165,0.337c0.933,0.249,1.583,0.453,1.952,0.611
                	c0.369,0.159,0.658,0.39,0.868,0.692s0.315,0.679,0.315,1.128c0,0.439-0.128,0.854-0.384,1.241c-0.257,0.389-0.626,0.688-1.11,0.901
                	c-0.483,0.212-1.03,0.318-1.641,0.318c-1.011,0-1.781-0.21-2.311-0.63S238.9,376.708,238.753,375.882z M241.905,397.124v-7.856
                	h43.094v6.357c-4.239,4.512-8.439,10.506-12.602,17.982c-4.163,7.479-7.379,15.168-9.649,23.068
                	c-1.635,5.571-2.679,11.671-3.133,18.301h-8.401c0.091-5.237,1.12-11.564,3.088-18.981c1.968-7.417,4.791-14.569,8.469-21.456
                	c3.679-6.887,7.591-12.692,11.739-17.415H241.905z";
}

.trainRailArea {
	-fx-fill: #1c3e94;
}

.trainRailFrame {
	-fx-fill: #1c3e94;
	-fx-stroke: white;
	-fx-stroke-width: 1.5;
}

.rail {
	-fx-font-family: 'Helvetica';
	-fx-font-size: 12;
	-fx-fill: white;
}

.trainRailValue {
	-fx-font-family: 'Roboto Normal';
	-fx-font-size: 62;
	-fx-font-weight: 700;
	-fx-fill: white;
	-fx-text-alignment: center;
}

.toDestination {
	-fx-font-family: 'Roboto Normal';
	-fx-font-size: 14;
	-fx-fill: black;
}

.destination {
	-fx-font-family: 'Roboto Light';
	-fx-font-size: 25;
	-fx-fill: rgb(85, 85, 85);
		-fx-fill: black;
}

.placeholder {
	-fx-fill: lightgray;
}

.trainIcon {
    -fx-background-color: #000000;
    -fx-scale-shape: true;
    -fx-padding: 10;
    -fx-shape: "M268.5,463.67c-7.85,0-15.614,0-23.355,0c0-5.767,0-11.434,0-17.155
                	c7.8,0,15.538,0,23.355,0C268.5,452.313,268.5,458.009,268.5,463.67z M272.657,385.353c4.084,2.904,7.974,5.672,12.167,8.655
                	c-13.353,0-26.374,0-39.45,0c0,1.364,0,2.567,0,3.945c0.406,0,0.814,0,1.224,0c15.591,0,31.184-0.009,46.774,0.021
                	c0.932,0.002,1.868,0.279,2.794,0.477c1.028,0.216,1.638,1.004,1.689,2c0.052,0.956-0.538,1.777-1.418,2.13
                	c-0.693,0.278-1.464,0.474-2.201,0.475c-15.825,0.026-31.649,0.021-47.473,0.021c-0.425,0-0.85,0-1.362,0c0,1.197,0,2.348,0,3.653
                	c0.439,0,0.889,0,1.34,0c15.593,0,31.184-0.01,46.775,0.023c0.966,0.003,1.943,0.303,2.896,0.545
                	c1.006,0.254,1.328,1.234,1.186,2.048c-0.14,0.796-0.363,1.868-1.491,2.011c-0.719,0.09-1.437,0.24-2.156,0.24
                	c-15.707,0.014-31.416,0.01-47.123,0.01c-0.459,0-0.917,0-1.444,0c0,1.373,0,2.657,0,4.143c0.407,0,0.851,0,1.296,0
                	c15.631,0,31.26-0.008,46.891,0.018c0.78,0.001,1.584,0.195,2.336,0.437c1.588,0.507,1.918,1.021,1.77,2.431
                	c-0.094,0.885-1.182,1.859-2.27,1.978c-0.497,0.053-1.007,0.015-1.511,0.015c-15.747,0-31.492,0-47.239,0c-0.387,0-0.772,0-1.252,0
                	c0,7.448,0,14.856,0,22.344c34.283,0,68.584,0,102.977,0c-0.177-1.594-0.334-3.166-0.526-4.733c-0.268-2.175-0.56-4.35-0.843-6.524
                	c-0.3-2.29-0.615-4.577-0.895-6.87c-0.338-2.773-0.631-5.555-0.969-8.327c-0.313-2.574-0.654-5.145-0.989-7.717
                	c-0.288-2.212-0.521-4.437-0.889-6.635c-0.37-2.217-0.552-4.573-2.421-6.124c-1.104-0.917-2.292-1.728-3.796-1.742
                	c-8.942-0.078-17.886-0.16-26.83-0.241c-0.294-0.003-0.589,0-1.225,0c4.08-3.001,7.888-5.801,11.824-8.696
                	c-8.145-4.598-16.171-9.131-24.2-13.662C288.692,376.216,280.75,380.742,272.657,385.353z M279.153,385.098
                	c6.021-3.064,11.867-6.039,17.723-9.018c5.683,2.979,11.382,5.969,17.211,9.026c-3.56,2.657-7.001,5.132-10.332,7.763
                	c-1.188,0.938-2.364,1.261-3.801,1.211c-2.438-0.087-4.882-0.012-7.323-0.038c-0.396-0.005-0.856-0.078-1.174-0.3
                	C287.411,390.928,283.387,388.081,279.153,385.098z M333.746,420.868c0-0.003,0-0.004,0-0.007c-1.553,0-3.104,0.033-4.655-0.009
                	c-1.727-0.047-2.947-1.109-3.021-2.573c-0.163-3.178-0.312-6.355-0.474-9.532c-0.013-0.279-0.104-0.553-0.117-0.83
                	c-0.117-2.617-0.247-5.235-0.31-7.854c-0.009-0.307,0.298-0.786,0.571-0.906c0.727-0.32,1.508-0.659,2.276-0.685
                	c2.598-0.082,5.197-0.052,7.796-0.023c1.399,0.015,2.619,0.997,2.803,2.308c0.426,3.036,0.789,6.083,1.178,9.125
                	c0.299,2.334,0.679,4.661,0.873,7.004c0.202,2.451-0.083,4.129-3.082,3.994C336.306,420.821,335.025,420.868,333.746,420.868z
                	 M272.502,458.573c-0.275-7.327,5.745-11.97,10.527-12.375c7.105-0.604,12.004,6.237,12.055,11.863
                	c0.057,6.398-5.645,11.942-11.273,11.799C277.972,470.252,272.704,463.981,272.502,458.573z M298.142,458.306
                	c-0.169-6.963,5.11-11.61,10.292-12.125c7.48-0.744,12.202,6.606,12.247,11.921c0.054,6.174-5.962,11.935-11.413,11.516
                	C302.799,469.902,298.278,463.976,298.142,458.306z M347.893,446.533c0.253,2.086,0.512,4.102,0.74,6.121
                	c0.326,2.852,0.655,5.705,0.92,8.563c0.049,0.512-0.047,1.29-0.361,1.529c-0.649,0.49-1.489,0.971-2.256,0.979
                	c-6.779,0.073-13.559,0.042-20.339,0.041c-0.297,0-0.595,0-0.943,0c0-5.795,0-11.461,0-17.232
                	C333.123,446.533,340.504,446.533,347.893,446.533z M350.042,358.979c-35.138-0.042-70.276-0.044-105.414-0.001
                	c-7.192,0.008-9.898,2.802-9.903,10.051c-0.025,34.472-0.022,68.943-0.004,103.416c0.005,7.457,2.732,10.152,10.3,10.166
                	c17.485,0.031,34.972,0.01,52.458,0.009c17.318-0.001,34.639,0.013,51.958-0.007c8.057-0.01,10.553-2.458,10.556-10.326
                	c0.011-34.472,0.015-68.943,0.003-103.416C359.993,361.611,357.434,358.987,350.042,358.979z M357.427,472.298
                	c-0.004,6.12-1.57,7.779-7.666,7.787c-34.986,0.047-69.974,0.048-104.96-0.007c-5.748-0.009-7.309-1.671-7.314-7.592
                	c-0.043-34.486-0.047-68.974-0.008-103.46c0.008-6.083,1.373-7.377,7.369-7.385c17.659-0.026,35.318-0.01,52.979-0.01
                	c17.327,0.001,34.654-0.016,51.979,0.01c6.151,0.009,7.615,1.447,7.621,7.696C357.456,403.657,357.452,437.978,357.427,472.298z";
}

.trainSp {
    -fx-stroke: black;
    -fx-underline: false;
     -fx-font-family: 'Roboto Thin';
     -fx-font-size: 16;
        -fx-text-fill: red;
}

.settings-button{
    -fx-font-size: 16px;
    -fx-font-family: 'Roboto Bold';
    -fx-background-color: #ebebeb;
    -fx-text-fill: #677381;

}

.settings-button:hover{
    -fx-text-fill: #335bab;

}

.cell-style{
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Light';
    -fx-text-fill: #ebebeb;
}

.cell-style-bold{
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto Bold';
    -fx-text-fill: #000000;
}